<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Link Bin</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <a href="@{/add}" class="btn btn-default">New link</a>
    <h1>Links</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="link : ${links}">
            <td th:text="${link.id}"></td>
            <td><a th:href="${link.url}" th:text="${link.url}" target="_blank"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>